<form
    class="{{cssClass}} flexcol"
    autocomplete="off">


    <header class="eb-card sheet-header">

        <div class="eb-infos-wrapper">
            {{!-- NAME WRAP --}}
            <div class="eb-name-wrapper">
                <h1 class="charname">
                    <input
                        name="name"
                        type="text"
                        value="{{actor.name}}"
                        placeholder="{{localize 'EB.Sheet.Name'}}"
                        data-dtype="String"
                    />
                </h1>
                <h2 class="failed-career">
                    <input
                        name="system.failedCareer"
                        type="text"
                        value="{{actor.system.failedCareer}}"
                        placeholder="{{localize 'EB.Sheet.FailedCareer'}}"
                        data-dtype="String"/>
                </h2>
            </div>


            {{!-- MAIN STATS --}}
            <div class="eb-main-stat-wrapper">

                {{!-- HP --}}             
                <div class="eb-main-stat eb-hp resource flexrow flex-group-center">
                    <div class="flexcol">
                        <label
                            for="systemData.hp.value"
                            class="resource-label">{{localize 'EB.Sheet.Hitpoints'}}
                        </label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input
                                type="number"
                                name="system.hp.value"
                                value="{{systemData.hp.value}}"
                                data-dtype="Number" />
                            <span> / </span>
                            <input
                                type="number"
                                name="system.hp.max"
                                value="{{systemData.hp.max}}"
                                data-dtype="Number" />
                        </div>
                    </div>
                </div>


                {{!-- Pounds --}}     
                <div class="eb-main-stat eb-wealth resource flexrow flex-group-center">
                    <div class="flexcol">
                        <label
                            for="data.pounds"
                            class="resource-label">{{localize 'EB.Sheet.Wealth'}}</label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input
                                type="number"
                                name="system.pounds"
                                value="{{systemData.pounds}}"
                                data-dtype="Number"
                            /> <span class="currency">&#163;</span>
                        </div>
                    </div>
                </div>


                {{!-- Armor --}}     
                <div class="eb-main-stat eb-armor resource flexrow flex-group-center">
                    <div class="flexcol">
                        <label
                            for="data.armor"
                            class="resource-label">{{localize 'EB.Sheet.Armor'}}</label>
                        <div class="resource-content flexrow flex-center flex-between">
                            <input
                                type="number"
                                name="system.armor"
                                value="{{systemData.armor}}"
                                data-dtype="Number"
                            /> 
                        </div>
                    </div>
                </div>


                {{!-- Deprived --}}      
                <div class="eb-main-stat eb-deprived resource flexrow flex-group-center">
                    <div class="flexcol">
                        <label class="resource-label">{{localize 'EB.Sheet.Deprived'}}</label>
                        <input
                            class="checkbox-block"
                            type="checkbox"
                            {{checked systemData.deprived}}
                            name="system.deprived"
                            value="{{systemData.deprived}}"
                            data-dtype="Boolean"/>
                    </div>
                </div>



            </div>
        </div>

        {{!-- IMAGE --}}
        <img
            class="profile-img"
            src="{{actor.img}}"
            data-edit="img"
            title="{{actor.name}}"
            height="120"
            width="120"
        />

    </header>

    {{!-- MAIN ABILITIES --}}
    <div class="eb-main-abilities">
            {{#each systemData.abilities as |ability key|}}
            <div class="ability flexrow flex-group-center eb-card">
                <div class="flexcol">
                    <label
                        for="systemData.abilities.{{key}}.value"
                        class="resource-label"
                        data-label="{{key}}">
                        <span>{{fullName}}</span>
                    </label>
                    <div class="flexrow eb-value-row">
                        <input
                            type="number"
                            name="system.abilities.{{key}}.value"
                            value="{{ability.value}}"
                            data-dtype="Number"
                        /> <span> / </span>
                        <input
                            type="number"
                            name="system.abilities.{{key}}.max"
                            value="{{ability.max}}"
                            data-dtype="Number"
                        />
                    </div>
                    <button
                        class="resource-button rollable"
                        data-roll="d20[under or equal @abilities.{{key}}.value]"
                        data-ability-key="{{key}}"
                        data-label="{{key}} save"
                        data-ability-name="{{fullName}}">
                        <span>{{localize 'EB.Sheet.Roll'}}</span><i class="fas fa-dice-d20"></i>
                    </label>
                </div>
            </div>
            {{/each}}
    </div>


    {{!-- Sheet Tab Navigation --}}
    <div class="sheet-tabs-container">
        <nav class="sheet-tabs tabs" data-group="primary">
            <a class="item" data-tab="items">{{localize 'EB.Sheet.Items'}}</a>
            <a class="item" data-tab="description">{{localize 'EB.Sheet.Description'}}</a>
        </nav>
    </div>


    {{!-- Sheet Body --}}
    <section class="sheet-body eb-card">

        {{log this}}

        {{!-- Biography Tab --}}
        <div
            class="tab biography"
            data-group="primary"
            data-tab="description">
            {{
            editor
            enrichedBiography
            target="systemData.biography.value"
            button=true
            editable=editable
            }}
        </div>

        {{!-- Owned Items Tab --}}
        <div
            class="tab items"
            data-group="primary"
            data-tab="items">
            <ol class="items-list">
                <li class="item flexrow item-header">
                    <div class="item-name">Name <i>(bold means equipped)</i></div>
                    <div class="item-controls">
                        <a
                            class="item-control item-create"
                            title="Create item"
                            data-type="item">
                            <i class="fas fa-plus"></i>
                            Add item
                        </a>
                    </div>
                </li>
                {{#each actor.items as |item id|}}
                    {{log this}}
                    {{log item}}
                    <li
                        class="item flexrow"
                        data-item-id="{{item.id}}">
                        <span>
                            <span class="item-name item-edit">
                                {{item.system.quantity}}
                                {{#boldIf item.system.equipped}}
                                {{item.name}}
                                {{/boldIf}}
                            </span>
                            {{#if item.system.bulky}}
                            <span class="item-info">BULKY</span>
                            {{/if}}
                            {{#if item.system.blast}}
                            <span class="item-info">BLAST</span>
                            {{/if}}
                            {{#if item.system.armor}}
                            <span class="item-info">Armor {{item.system.armor}}</span>
                            {{/if}}
                            {{#if item.system.damageFormula}}
                            <span class="item-info">{{item.system.damageFormula}} damage</span>
                            {{/if}}
                        </span>
                        <div class="item-controls">
                            {{#if item.system.equipped}}
                            {{#if item.system.damageFormula}}
                            <span
                                class="item-button rollable"
                                data-label="damage with {{item.name}}"
                                data-roll="{{item.system.damageFormula}}"
                                title="Roll Damage">
                                <i class="fas fa-dice-d20"></i>
                            </span>
                            {{/if}}
                            {{/if}}
                            <a
                                class="item-control item-edit"
                                title="Edit Item"><i class="fas fa-edit"></i></a>
                            <a
                                class="item-control item-delete"
                                title="Delete One Item"><i class="fas fa-trash"></i></a>
                        </div>
                    </li>
                {{/each}}
            </ol>
        </div>



    {{!-- ACTION BUTTONS --}}
    <div class="grid grid-3col">
        <span>
			<button
                type="button"
                title="Rest"
                class="rest">{{localize 'EB.Sheet.MakeDamage'}}
			</button>
		</span>
        <span>
			<button
                type="button"
                title="Rest"
                {{#if systemData.deprived}}
                disabled="true"
                {{/if}}
                class="rest">{{localize 'EB.Sheet.Rest'}}
			</button>
		</span>
        <span>
			<button
                type="button"
                title="Restore Abilities"
                class="restore">{{localize 'EB.Sheet.RestoreAbilities'}}
			</button>
		</span>
        <span>
			<button
                type="button"
                title="Luck"
                class="luck rollable"
                data-roll="d6"
                data-label="Luck">{{localize 'EB.Sheet.Luck'}}
			</button>
		</span>
    </div>



    </section>
</form>
