.system-electricbastionland .sheet{
    container-name: sheetContainer;
    container-type: inline-size;

    /////////////////////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////////////////////////

    .window-content > form{
        max-width: 600px;
        margin: auto;
    }

    /////////////////////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////////////////////////

    .eb-card{
        background-color: var(--white);
        border-radius: 10px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    }

    /////////////////////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////////////////////////

    .sheet-header {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        margin-bottom: 10px;
        min-height: 165px;
        gap: 10px;
        overflow: hidden;
        align-items: flex-start;
        flex: initial;

        /////////////////////////////////////////////////////////////////////////////
        /////////////////////////////////////////////////////////////////////////////

        .eb-infos-wrapper{
            display: flex;
            flex-direction: column;
            gap: 20px;
            box-sizing: border-box;
            padding: 10px;

            .eb-name-wrapper{
                display: flex;
                flex-direction: column;
                gap: 0px;

                h1.charname {
                    height: 50px;
                    padding: 0px;
                    margin: 5px 0 0;
                    border-bottom: 0;
                    background-color: transparent;
                    color: var(--dark);
                    input {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        width: 100%;
                        height: 100%;
                        margin: 0;
                        font-weight: bold;
                        border: 0px;
                        background-color: transparent;
                        color: var(--dark);
                        &::placeholder {
                            color: var(--middlegrey);
                        }    
                    }
                }                

                h2.failed-career{
                    line-height: 14px;
                    height: 14px;
                    input {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        border: 0px;
                        background-color: var(--white);
                        color: var(--grey);
                        padding: 0 2px;
                        font-size: 12px;
                        line-height: 12px;
                        letter-spacing: 0.05em;
                        font-style: italic;
                        height: 14px;
                        &::placeholder {
                            color: var(--middlegrey);
                        }
                    }
                }
            }

            .eb-main-stat-wrapper{
                display: flex;
                flex-direction: column;
                gap: 10px;

                .eb-main-stat{
                    border: 1px solid var(--lightgrey);
                    border-radius: 7px;
                    padding: 7px;
                    box-sizing: border-box;

                    .resource-content{
                        align-items: center;
                        justify-content: flex-start;
                        
                        input{
                            flex-basis: 30px;
                            flex-grow: 0;
                            flex-shrink: 1;
                        }
                        
                        span{
                            flex-basis: 17px;
                            flex-grow: 0;
                            flex-shrink: 2;
                        }
                    }

                    label{
                        font-family: 'Inter Tight', sans-serif;
                        letter-spacing: 0.02em;
                        font-weight: 600;
                        display: block;
                        margin-bottom: 4px;
                        font-size: 12px;
                        align-self: flex-start;
                    }
                }
            }
        }

        /////////////////////////////////////////////////////////////////////////////
        /////////////////////////////////////////////////////////////////////////////

        .profile-img {
            width: 165px;
            height: 165px;
            flex-basis: 165px;
            flex-grow: 0;
            margin-right: 0px;
            background-color: var(--lightgrey);
            border-width: 0;
            display: none;
        }

        /////////////////////////////////////////////////////////////////////////////
        /////////////////////////////////////////////////////////////////////////////

    }
    
    .eb-main-abilities{
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 13px 0 20px 0;

        .ability{
            padding: 10px;
        }
        
        .eb-value-row{
            align-items: center;

            input{
                flex-basis: 34px;
                flex-grow: 0;
                flex-shrink: 1;
            }

            span{
                flex-basis: 20px;
                flex-grow: 0;
                flex-shrink: 2;
            }
        }

        .resource-label {
            font-family: 'Inter Tight', sans-serif;
            letter-spacing: 0.02em;
            font-weight: 600;
            display: block;
            margin-bottom: 4px;
            font-size: 12px;
            align-self: flex-start;
        }
        
        .resource-button {
            font-family: 'Inter Tight', sans-serif;
            letter-spacing: 0.01em;
            font-weight: bold;
            display: block;
            margin-bottom: 4px;
            align-self: flex-start;
            margin: 7px 0 0;
            background: var(--secondcolorbg);
            color: var(--white);
            border: 1px solid #000;
            -webkit-font-smoothing: antialiased;
            font-size: 12px;
            display: flex;
            gap: 5px;
            align-items: center;
            justify-content: space-between;
            justify-content: center;

            &:hover {
                background: var(--secondcolorbghover);
            }

            i {
                font-size: 16px;
            }
        }
    }

    /////////////////////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////////////////////////

    .sheet-tabs-container {
        display: flex;
        -webkit-box-flex: 0;
        -ms-flex: 0;
        flex: 0;
        align-self: flex-start;
        z-index: 9;
        height: 34px;
    
        .sheet-tabs {
            -webkit-box-flex: 0;
            -ms-flex: 0;
            flex: 0;
        }
    
        .tabs {
            height: 33px;
            border-top: none;
            border-bottom: none;
            gap: 5px;
            margin: 0;
    
            .item {
                background-color: transparent;
                border-radius: 10px 10px 0 0;
                padding: 0px 15px;
                line-height: 32px;
                font-family: 'Inter Tight', sans-serif;
                letter-spacing: 0.02em;
                font-weight: 600;
                font-size: 12px;
                background: transparent;
                border: 1px solid var(--maincolorbgdarker);
                border-bottom: none;

                &.active {
                    text-decoration: none;
                    text-shadow: none;
                    background: var(--white);
                    border-color: var(--white);
                }
            }
        }
    }

    /////////////////////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////////////////////////

    .sheet-body {
        background: var(--white);
        border-top-left-radius: 0;
        padding: 5px 15px;
        box-sizing: border-box;
        flex: initial;
    }

    /////////////////////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////////////////////////

    .eb-sheet-action-buttons{
        display: flex;
        flex-direction: column;
        gap: 7px;
        padding: 20px 0 40px;

        button{
            background: var(--secondcolorbg);
            border: none;
            outline: 1px solid var(--dark);
            border-radius: 5px;
            padding: 1px 10px;
            color: var(--white);
            font-family: 'Inter Tight', sans-serif;
            letter-spacing: 0.05em;
            font-weight: 600;
            font-size: 12px;
            -webkit-font-smoothing: antialiased;
            box-shadow: 0 5px 10px rgba(0,0,0,0.3);
            
            &:hover{
                background: var(--secondcolorbghover);
            }
        }
    }

    /////////////////////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////////////////////////

    @container sheetContainer (width >= 400px){

        .eb-main-abilities{
            display: flex;
            flex: initial;
            flex-direction: row;
            gap: 10px;
        }

        .sheet-header .eb-infos-wrapper{
            
            .eb-main-stat-wrapper{
                display: flex;
                flex-direction: row;
                gap: 5px;

                .eb-main-stat{
                    &.eb-hp{
                        flex-basis: 95px;
                    }
                    &.eb-wealth{
                        flex-basis: 70px;
                    }
                    &.eb-armor{
                        flex-basis: 60px;
                    }
                    &.eb-deprived{
                        flex-basis: 90px;
                    }
                }

            }
        }
    }

    /////////////////////////////////////////////////////////////////////////////
    /////////////////////////////////////////////////////////////////////////////

    @container sheetContainer (width >= 580px){
        .sheet-header .profile-img{
            display: block;
        }

        .eb-sheet-action-buttons{
            flex-direction: row;
        }
    }
}

//////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////

.electricbastionland .biography.active{
    padding: 13px 0;
    
    textarea{
        min-height: 138px;
    }

    .grow-wrap{
        display: grid;
    }

    .grow-wrap::after {
        /* Note the weird space! Needed to preventy jumpy behavior */
        content: attr(data-replicated-value) " ";
        /* This is how textarea text behaves */
        white-space: pre-wrap;
        /* Hidden from view, clicks, and screen readers */
        visibility: hidden;
      }
      
      .grow-wrap > textarea {
        /* You could leave this, but after a user resizes, then it ruins the auto sizing */
        resize: none;
        /* Firefox shows scrollbar on growth, you can hide like this. */
        overflow: hidden;
      }
      
      .grow-wrap > textarea,
      .grow-wrap::after {
        /* Identical styling required!! */
        border: 1px solid black;
        padding: 0.5rem;
        font: inherit;
        /* Place on top of each other */
        grid-area: 1 / 1 / 2 / 2;
      }
}

//////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////

.electricbastionland .items-list {
    list-style: none;
    margin: 7px 0;
    padding: 0;
    overflow-y: hidden;
    .item-header {
        font-weight: bold;
    }
    .item {
        height: 30px;
        line-height: 24px;
        padding: 3px 0;
        border-bottom: 1px solid #BBB;
        .item-image {
            -webkit-box-flex: 0;
            -ms-flex: 0 0 24px;
            flex: 0 0 24px;
            margin-right: 5px;
        }
        img {
            display: block;
        }
        

        &:last-child{
            border-bottom: none;
        }

        &.eb-new-row{
            justify-content: center;
            .item-controls{
                text-align: center;

                .item-create{
                    display: inline-flex;
                    flex-direction: column;
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    justify-content: center;
                    margin: 5px 0 0;
                    background: var(--darkgrey);
                    i{
                        color: var(--white);
                    }

                    &:hover{
                        background: var(--dark);
                    }
                }
            }
        }
    }
    .item-name {
        margin: 0;
    }
    .item-controls {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 86px;
        flex: 0 0 86px;
        text-align: right;
    }
    .item-info {
        margin-left: 4px;
        border-style: solid;
        border-width: thin;
        border-radius: 3px;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
    }
    .clickable {
        background-color: #669;
        color: white;
    }
}

//////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////

.electricbastionland .checkbox-block {
    display: block;
}

//////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////

.electricbastionland .editor {
    height: 100%;
}

//////////////////////////////////////////////////////////////////////////////////////
//////////////////////////////////////////////////////////////////////////////////////

