:root {
  --maincolorbg: #e4a802;
  --maincolorbgdarker: #b88700;
  --maincolor: #a77a00;
  --secondcolorbg: #017890;
  --secondcolorbghover: #005263;
  --secondcolor: #212829;
  --white: #ffffff;
  --dark: #000009;
  --darkgrey: #39394f;
  --grey: #4e5758;
  --lightgrey: #d9d9d9;
  --middlegrey: #8e9798;
  --color-shadow-primary: transparent;
  --color-red: #cc0050;
  --color-green: #007e63;
  }
