@import 'colors', 'fonts', 'defaults', 'chat', 'character-sheet';

.electricbastionland{

    .app {
        background: var(--darkgrey);
        border-radius: 0px;
    }

    .item-form {
        font-family: 'Inter', sans-serif;
        font-size: 8pt;
    }
    
    h1, h2, h3, h4, .title-font {
        font-family: 'Inter Tight', sans-serif;
        font-weight: bold;
        border-bottom: none;
        margin: 0;
    }

    .window-content {
        padding: 20px;
        background-color: var(--maincolorbg);
        background-image: none;
    }

    .tox{
        .tox-editor-container {
            background: #fff;
        }
        .tox-edit-area {
            padding: 0 8px;
        }
    }
}
